<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="center-block text-center">
        <div class="center-block text-center col-md-18" style="float: none;">
          <h2>Thank you for your order!</h2>
          <p>
            クレジットカード決済の手続きが完了しました。
            カウンタースタッフにこの画面を見せてください
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:36px;">
      <div class="col-md-6"></div>
      <div class="col-md-6">サービス名</div>
      <div class="col-md-12">WIFIレンタル 5日間</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">期間</div>
      <div class="col-md-12">2017/8/1　～　 2017/8/5</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">金額</div>
      <div class="col-md-12">￥ 5,000
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">名前</div>
      <div class="col-md-12">xxxxx</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">Mail</div>
      <div class="col-md-12">xxxxx</div>
    </div>
    <br>
    <div class="row">
      <div class="center-block text-center" style="float: none; margin-top: 50px">
        <div class="form-group center-block text-center ">
          <a class="btn btn-primary theme-default no-outline" href="error.html">for Staff</a>
        </div>
      </div>
    </div>
  </div>
</div>
