<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="center-block text-center">
        <div class="center-block text-center col-md-16" style="float: none;">
          <h2>Confirm</h2>
          <p>
            Please check the contents of your order.
          </p>
        </div>
      </div>
    </div>
    <div class="row margin-top-36">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">プラン内容</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="WIFIレンタル 5日間" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">期間</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="2017/8/1　～　 2017/8/5" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">Price</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="¥5,000" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">Name</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="YAMADA TARO" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">Mail</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="hogefuga@freetel.jp" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">生年月日</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="09 / 17 / 1981" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">性別</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="male" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">国籍</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="JAPAN" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">訪日回数</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="1" disabled="true">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 line-height-240">カード番号</div>
      <div class="col-md-8">
        <input type="text" class="form-control no-border" value="**** **** **** 1234" disabled="true">
      </div>
    </div>
    <div class="row margin-top:24">
      <div class="col-md-6"></div>
      <div class="col-md-12">
        <div class="form-group center-block text-center ">
          <a class="btn btn-default theme-default" onclick="javascript:window.history.back(-1);return false;">back</a>
          <a class="btn btn-primary theme-default no-outline" href="complete.html">order</a>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
