<form action="confirm.html"><div class="page-header">
  <div class="container">
    <div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
      <div class="carousel-inner">
        <div class="item active">
          <div class="center-block text-center">
            <h2>Terms of Use</h2>
            <div class="row center-block text-center margin-top-24">
              <div class="col-md-2"></div>
              <div class="col-md-20">
                This website is managed by Global Marketing & Travel and its affiliates. Please acknowledge the following matters when using this site.
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row center-block text-center">
              <div class="col-md-2"></div>
              <div class="col-md-20">
                <div class="form-group center-block">
                  <textarea class="form-control center-block text-left" rows="16" cols="100" style="max-width: none" readonly="true">
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                    this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.this text is sample.
                  </textarea>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-12">
                <div class="form-group center-block text-center ">
                  <a class="btn btn-default theme-default" href="#cancel" data-toggle="modal">Back</a>
                  <a class="btn btn-primary theme-default no-outline" href="#Carousel" data-slide="next">Agree</a>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="center-block text-center">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="center-block text-center col-md-20" style="float: none;">
                <h2 class="">Period of Use</h2>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="row margin-top-36" style="float: none;">
            <div class="col-md-6"></div>
            <div class="col-md-6">プラン内容</div>
            <div class="col-md-12">
              <div class="form-group">
                Wi-Fiレンタル
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">日数を選択</div>
            <div class="col-md-6">
              <div class="combobox form-group">
                <select class="form-control">
                  <option>3days</option>
                  <option>4days</option>
                  <option>5days</option>
                  <option>6days</option>
                  <option>7days</option>
                  <option>8days</option>
                  <option>9days</option>
                  <option>10days</option>
                </select>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">お申込み内容</div>
            <div class="col-md-12">
              <div class="form-group">
                2017/6/1　～ 2017/6/5
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">金額</div>
            <div class="col-md-12">
              <div class="form-group">
                ￥5,000
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-12">
              <div class="form-group center-block text-center ">
                <a class="btn btn-default theme-default" href="#Carousel" data-slide="prev">Back</a>
                <a class="btn btn-primary theme-default no-outline" href="#Carousel" data-slide="next">OK</a>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="center-block text-center col-md-20" style="float: none;">
              <h2>Your Profile</h2>
              <p>
                Please input the following items. Please input all in English.
                ※Nameはクレジットカード名義人と同一名義でお願いします。
              </p>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="row margin-top-36">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Name</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="">
            </div>
            <div class="col-md-6"></div>
          </div>

          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Mail</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="">
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Confirm Mail</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="">
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-360">Date ofBirth</div>
            <div class="col-md-3">
              <div class="type-t8 margin-bottom-5">month</div>
              <div class="combobox">
                <select class="form-control">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="type-t8 margin-bottom-5">day</div>
              <div class="combobox">
                <select class="form-control">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="type-t8 margin-bottom-5">year</div>
              <div class="combobox ">
                <div class="form-group">
                  <select class="form-control">
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">Sex</div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="radio1">
                    <span>male</span>
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="radio1" >
                    <span>female</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">国籍</div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="">
                  <select class="form-control">
                    <option>Lorem</option>
                    <option>ipsum</option>
                    <option>dolor</option>
                    <option>sit</option>
                    <option>amet</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">訪日回数</div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="">
                  <select class="form-control">
                    <option>Lorem</option>
                    <option>ipsum</option>
                    <option>dolor</option>
                    <option>sit</option>
                    <option>amet</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-12">
              <div class="form-group center-block text-center ">
                <a class="btn btn-default theme-default" href="#Carousel" data-slide="prev">Back</a>
                <a class="btn btn-primary theme-default no-outline" href="#Carousel" data-slide="next">OK</a>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <div class="item">
          <div class="center-block text-center">
            <div class="center-block text-center col-md-20" style="float: none;">
              <h2>Settlement</h2>
              <p>
                Debit cards and credit cards with debit function can not be used.
              </p>
            </div>
          </div>
          <div class="row margin-top-36">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Name</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="" disabled="true">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Card Number</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-360">GOOD THRU</div>
            <div class="col-md-3">
              <div class="type-t8 margin-bottom-5">month</div>
              <div class="combobox">
                <select class="form-control">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="type-t8 margin-bottom-5">year</div>
              <div class="combobox ">
                <div class="form-group">
                  <select class="form-control">
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 line-height-240">Security Code</div>
            <div class="col-md-6">
              <input type="text" class="form-control" value="">
            </div>
          </div>
          <div class="row margin-top-24">
            <div class="col-md-6"></div>
            <div class="col-md-12">
              <div class="form-group center-block text-center ">
                <a class="btn btn-default theme-default" href="#Carousel" data-slide="prev">back</a>
                <button class="btn btn-primary theme-default no-outline" type="submit" name="action" value="send">OK</button>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
          <li data-target="#Carousel" data-slide-to="3"></li>
        </ol>
      </div>
    </div>
  </div>
</div></form>
