<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="center-block text-center">
        <div class="center-block text-center col-md-20" style="float: none;">
          <h2>Authentication failed.</h2>
          <p>
            ご入力いただいたクレジットカード情報はご利用になれません。
            お手数ですが、入力内容をご確認の上、再度お手続きをお願いします。
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-2"></div>
      <div class="col-md-20">
        <div class="form-group center-block text-center ">
          <a class="btn btn-default theme-default" href="#cancel" data-toggle="modal">キャンセルしてトップへ戻る</a>
          <a class="btn btn-primary theme-default no-outline" href="en.html">クレジットカード入力画面に戻る</a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
