<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-20 center-block text-center">
        <h2 class=""><span class="color-type-primary">Welcome</span></h2>
        <div class="type-p3">This is the application page of the "Touch Concierge" rental service of the information terminal. I will lend a smartphone that can communicate data. Data communication while staying in Japan is OK with this one. Please select your language.</div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-24">
      <div class="" style="padding: 0 0 2em; margin-bottom: 2em; text-align:center;">
        <div class="btn-group">
          <a class="btn btn-block btn-primary no-outline" href="en.html">English</a>
          <a class="btn btn-block btn-primary no-outline">简体字</a>
          <a class="btn btn-block btn-primary no-outline">繁體字</a>
          <a class="btn btn-block btn-primary no-outline">한글</a>
        </div>
      </div>
    </div>
  </div>
</div>
