<div class="modal modal-center-vertical" id="cancel" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">Are you sure you want to cancel the input?</h4>
                </div>
                <div class="modal-body">
                    Discard the entered information and return to TOP.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='index.html'">OK</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
