<div class="_jumbotron theme-light" style="padding-top:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-24 text-center">
                <h4>
                  <!-- Global Marketing &amp; Travel -->
                  <img src="./images/gmt_logo.png" alt="Global Marketing & Travel">
                </h4>
                <div class="type-sh4">
                    Best Travel Arrangement to Japan
                </div>
                <div class="col-md-24">
                <div class="type-t9">Copyright (c) All rights reserved by JTB Global Marketing &amp; Travel inc.</div>
                </div>
            </div>
        </div>
    </div>
</div>
